<center>
  <h1>Add a beast</h1>
  <div class="input-group">

    <%= bootstrap_form_for(@beast) do |f| %>
    <%= f.text_field :name, hide_label: true, placeholder: "Enter a beast" %>
    <%= f.text_field :description, hide_label: true, placeholder: "Description" %>

    <%= f.collection_check_boxes :tag_ids, @tags, :id, :name, hide_label: true %>

    <%= f.submit "Save", class: "btn btn-primary" %>
    <% end %>

  </div>
</center>